* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
  }

  .left{
    float:right;
  }
  img{
    height:600px;
    width: 400px;
    margin-top: 30%;
    margin-right: 100px;
    transition: transform 0.3s ease-out;
  }


  img.elevated {
    transform: translateY(-30px);
}
  body {
    height: 100vh;
    
    background-image: url('calimg/calbg.jpg');

           
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed; 
  }
  .calculator {
    width: 400px;
    background-color: #071013;
    padding: 50px 30px 20px 30px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 30%;
    border-radius: 8px;
    box-shadow: 0 20px 50px rgba(0, 5, 24, 0.4);
  }
  .display {
    width: 100%;
  }
  .display input {
    width: 100%;
    padding: 15px 10px;
    text-align: right;
    border: none;
    background-color: transparent;
    color: #ffffff;
    font-size: 35px;
  }
  .display input::placeholder {
    color: #9490ac;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-top: 40px;
  }
  button {
    font-size: 20px;
    padding: 17px;
    border: none;
   
    color: #ffffff;
    cursor: pointer;
    border-radius: 5px;
    border-radius: 10px;
  }
  
  button#equal {
    grid-row: span 2;

  }
  button#zero {
    grid-column: span 2;
  }
  
  .operation-button {
    background-color: #2e94b9;
  }
  
  .operation-button:hover {
    background-color: #acdcee;
  }
  
  .digit-button {
    background-color: #313131;
  }
  
  .digit-button:hover {
    background-color: #313131a8;
  }
  
  .main {
    margin-top: 10%;
  }
  
  .brand {
    text-align: center;
    color: white;
  }
  a {
    color: white;
    font-weight: 800;
  }
  a:hover {
    color: #f69906;
  }
  